@model Zamiux.Web.ViewModels.Home.WorkViewModel

<section class="works section-padding" style="background-color:#f7f7f7" data-scroll-index="3">
    <div class="container-fluid">
        <div class="row">

            <div class="section-head text-center col-sm-12">
                <h4>نمونه‌کارهای خلاقانه</h4>
                <h6>پروژه های اخیر</h6>
            </div>

            <!-- filter links -->
            <div class="filtering text-center mb-30 col-sm-12">
                <div class="filter">
                    <span data-filter="*" class="active">همه</span>
                    @*<span data-filter=".برند">برند</span>*@
                    @foreach (var workcate in Model.categoryWork)
                    {
                        <span data-filter=".@workcate">@workcate</span>
                    }
                </div>
            </div>

            <div class="clearfix"></div>

            <!-- gallery -->
            <div class="gallery text-center full-width">

               

                @foreach (var work in Model.ListWorks)
                {

                    <!-- gallery item -->
                    <div class="col-lg-3 col-md-6 items @work.CategoryName">
                        <div class="item-img">
                            <img src="@(PathExtension.WorkImageOrgin + work.WorkImg)" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info full-width vertical-center">
                                    <p>@work.CategoryName</p>
                                    <h6>@work.WorkName</h6>
                                    <a href="@(PathExtension.WorkImageOrgin + work.WorkImg)" class="popimg">
                                        <span class="icon icon-basic-eye"></span>
                                    </a>
                                    <a target="_blank" href="@work.WorkExternalUrl">
                                        <span class="icon icon-basic-link"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</section>
