@model Zamiux.Web.ViewModels.Ability.ListUserAbilityViewModel
@{
    ViewData["Title"] = "لیست توانمندی ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="am-pagetitle">
    <h5 class="am-title">اطلاعات تخصصی > @ViewData["Title"]</h5>
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">نمایش @ViewData["Title"]</h6>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                </div><!-- col-sm-3 -->

                <div class="col-sm-6 col-md-3 mg-t-20 mg-sm-t-0">
                </div><!-- col-sm-3 -->

                <div class="col-sm-6 col-md-3 mg-t-20 mg-md-t-0">
                </div><!-- col-sm-3 -->

                <div class="col-sm-6 col-md-3 mg-t-20 mg-md-t-0">
                    <a asp-area="Admin" asp-controller="UserInfo" asp-action="Create_User_Ability" class="btn btn-primary btn-block mg-b-10"> ثپت توانمندی جدید </a>
                </div><!-- col-sm-3 -->

            </div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered mg-b-0">
                    <thead class="bg-info">
                        <tr>
                            <th>عنوان</th>
                            <th>درصد پبیشرفت</th>
                            <th>اولویت نمایش</th>
                            <th>وضعیت</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.userAbilities.Any())
                        {
                            foreach (var useri in Model.userAbilities)
                            {
                                <tr id="ability_@useri.Id">
                                    <td>@useri.AbilityTitle</td>
                                    <td>@useri.AbilityPercent</td>
                                    <td>@useri.AbilityPriority</td>
                                    <td>
                                        @if (useri.isActive == true)
                                        {
                                            <span>توانمندی فعال</span>
                                        }
                                        else
                                        {
                                            <span>توانمندی غیرفعال</span>
                                        }
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="UserInfo" asp-action="Edit_User_Ability" asp-route-id="@useri.Id" class="btn btn-warning btn-icon mg-r-5" style="border-radius: 5px;"><div><i class="icon ion-edit"></i></div></a>
                                        <button onclick="deleteuserability(@useri.Id)" class="btn btn-danger btn-icon mg-r-5" style="border-radius: 5px;"><div><i class="icon ion-trash-a"></i></div></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div><!-- table-responsive -->


        </div>
    </div><!-- am-pagebody -->
</div><!-- am-mainpanel -->
