@using Zamiux.Web.Utils;
@model Zamiux.Web.ViewModels.User.UpdateUserContentViewModel;

@{
    ViewData["Title"] = "درباره من";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    
}

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

<div class="am-pagetitle">
    <h5 class="am-title">اطلاعات هویتی > @ViewData["Title"]</h5>
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">@ViewData["Title"]</h6>
            <p class="mg-b-20 mg-sm-b-30">دراین قسمت می توانید اطلاعات هویتی خود را بروزرسانی کنید.</p>
            <div class="form-layout">
                <form method="post" asp-area="Admin" asp-controller="UserInfo" asp-action="UserContent">
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">نام و نام خانوادگی: <span class="tx-danger" asp-validation-for="FullName">*</span></label>
                                <input value="@ViewBag.getFullName" class="form-control" type="text" asp-for="FullName">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">تصویر زمینه اصلی </label>
                                <label class="custom-file">
                                    <input type="file" id="file_background" asp-for="UserImageBackgroundUrl" class="custom-file-input">
                                    <span class="custom-file-control custom-file-control-primary"></span>
                                </label>
                                <hr />
                                <div class="card bd-0 wd-xs-300">
                                    <a target="_blank" href="@(PathExtension.UserBackgroundContentOrgin + ViewBag.getUserImageBackgroundUrl)"> <img class="card-img-top img-fluid" src="@(PathExtension.UserBackgroundContentOrgin + ViewBag.getUserImageBackgroundUrl)" alt="Image"></a>
                                </div>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">تصویر پروفایل </label>
                                <label class="custom-file">
                                    <input type="file" id="file_ImageProfile" asp-for="UserImageProfileUrl" class="custom-file-input">
                                    <span class="custom-file-control custom-file-control-inverse"></span>
                                    
                                </label>
                                <hr />
                                <div class="card bd-0 wd-xs-300">
                                    <a href="@(PathExtension.UserProfileContentOrgin + ViewBag.getUserImageProfileUrl)" target="_blank"><img class="card-img-top img-fluid" src="@(PathExtension.UserProfileContentOrgin + ViewBag.getUserImageProfileUrl)" alt="Image"></a>
                                </div>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-12">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">درباره من: <span class="tx-danger" asp-validation-for="UserDescription">*</span></label>
                                <input value="@ViewBag.getUserDescription" class="form-control" type="text" asp-for="UserDescription">
                            </div>
                        </div><!-- col-8 -->

                    </div><!-- row -->

                
                <div class="form-layout-footer">
                    <input type="submit" value="بروز رسانی اطلاعات" class="btn btn-success mg-r-5"/>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-secondary">انصراف</a>
                </div><!-- form-layout-footer -->
                </form>
            </div>
           
        </div>
    </div><!-- am-pagebody -->
</div><!-- am-mainpanel -->

