@model Zamiux.Web.ViewModels.Home.ContactHomeViewModel

<div class="contact-info section-box" data-scroll-index="6">
    <div class="container-fluid">
        <div class="row">
            <!-- Contact Info -->
            <div class="info bg-img bg-center col-md-6" data-overlay-dark="8" data-background="zamiux/img/bg3.jpg">
                <div class="gradient">

                    <div class="item">
                        <span class="icon icon-basic-smartphone"></span>
                        <div class="cont">
                            <h6>تلفن: </h6>
                            <p><span class="ltr_text">@Model.ContactPhone</span></p>
                        </div>
                    </div>

                    <div class="item">
                        <span class="icon icon-basic-geolocalize-05"></span>
                        <div class="cont">
                            <h6>آدرس : </h6>
                            <p>@Model.ContactAddress</p>
                        </div>
                    </div>

                    <div class="item">
                        <span class="icon icon-basic-mail"></span>
                        <div class="cont">
                            <h6>ایمیل : </h6>
                            <p>@Model.ContactEmailOne</p>
                            <p>@Model.ContactEmailTwo</p>
                        </div>
                    </div>

                    <div class="social">
                        @foreach (var social in Model.socials)
                        {
                            <a target="_blank" href="@social.SocialLink" class="icon">
                                <i class="@social.SocialIcon"></i>
                            </a>
                        }     
                    </div>

                </div>
            </div>

            <!-- The Map -->

            <div class="map col-md-6 bgimg-height-sm">
                @*<div id="ieatmaps"></div>*@
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61612.513167563695!2d51.440639359547504!3d35.74812947786607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2sTehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2sfr!4v1702469704777!5m2!1sen!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</div>
